/*
* INST 631 - FINAL - FALL 2015
* 
* Xiaoyu Tai
* Nov 7, 2015
*/

/* Global
-------------------- */
.footer-text {
  color: rgba(255, 255, 255, .74902);
}
.footer-link {
  color: rgba(255, 255, 255, .498039);
}
.footer-link:hover,
.footer-link:active,
.footer-link:focus {
  text-decoration: none;

  color: rgba(255, 255, 255, .74902);
}
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}
.home {
  min-height: 500px;
}
.divider-text {
  width: 50px;
  margin: -28px auto 10px;
  background-color: #fff;
  color: #666;
}

/* Process Schedule
-------------------- */
.process-steps-total {
  font-size: 20px;

  color: rgba(0, 0, 0, .74902);
}
.process-steps-number,
.process-steps-title,
.process-steps-inline-title {
  color: rgb(217, 83, 79);
}
.process-steps-inline-title {
  font-size: 25px;
}
.process-steps {
  position: relative;
  padding-bottom: 30px;
}
.process-steps .process-steps-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, .95);
}
.process-steps.active .process-steps-cover {
  z-index: -1;
  background-color: rgba(255, 255, 255, 0);
}
.btn-group-vertical {
  z-index: 9;
}
.step_button_div {
  margin-top: 10px;
}
.btn-group-vertical > .btn {
  margin: 0;
  min-width: 152px;
}
.process-group-label {
  margin-top: 10px;
  margin-bottom: 3px;
}
.process-schedule-time {
  display: none;
}
.card-block {
  margin-bottom: -15px;
}