/*
* INST 631 - FINAL - FALL 2015
* 
* Xiaoyu Tai
* Nov 7, 2015
*/
.footer-text {
  color: rgba(255, 255, 255, 0.74902);
}
.footer-link {
  color: rgba(255, 255, 255, 0.498039);
}
.footer-link:hover,
.footer-link:active,
.footer-link:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.74902);
}
